/* Global styling for all pages on the website */
html {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 35vh;
}

#page {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    max-width: 100%;
}

#site-header{
    margin-bottom: 30px;
}

.active {
    background-color: rgb(4, 132, 252)
}
/* ------------------------------Header animation---------------------------- */
h1 {
    animation-duration: 2s;
    animation-name: slidein;
}

#blueline {
    animation-duration: 2s;
    animation-name: fadein;
}

@keyframes slidein {
    from {
        margin-bottom: 80px;
    }

    to {
        margin-bottom: 22px;
    }
}

@keyframes fadein {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}
/* -------------------------------------------------------------------------- */

/* ----------------------------- Navbar Styling ----------------------------- */
#book {
    position: fixed;
    float: left;
    justify-content: left;
    justify-items: left;
    width: 40px;
    height: 30px;
}

#threeline {
    height: 20px;
    width: auto;
    margin-top: 5px;
    float: right;
    padding: 0px;
    display: none;
}

#site-nav {
    position: fixed;
    top: 0px;
    height: 5vh;
    width: 100%;
    background-color: white;
    /* put in front of all other elements */
    z-index: 99;
}

#nav-container {
    display: flex;
    width: 100%;
    height: 2vh;
    margin: auto;
    background-color: white;
}

/*Affects text labels of navbar that aren't links*/
#nav-text-container > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 130%;
    font-weight: bolder;
    width: auto;
    height: auto;
    padding: 5px 5px;
    margin: 0;
    position: absolute;
    left: 50px;
}

/*The list of stuff on the right side of navbar*/
#nav-container > ul {
    list-style-type: none;
    top: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: inherit;
    float: right;
}

/*The items in the navbar (this part of the css shouldn't be needed)*/
/*
#nav-container > ul > li {
    float: right;
}
*/

/*stylize the nav links*/
#nav-container > ul > li > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 3vh;
    padding: 1vh;
    text-decoration: none;
    display: block;
    float: right;
    color: black;
}

/*stylize the nav links when cursors hovers over them*/
#nav-container > ul > li a:hover {
    background-color: pink;
}

#nav-container > ul > li a:active {
    background-color: rgb(4, 132, 252);
}

/*make navbar collapse at a certain width, show threeline.png*/
@media (max-width:975px) {
    #nav-container > ul > li a {
        display: none;
    }

    #threeline {
        display: inline-block;
    }
}

/* -------------------------------------------------------------------------- */




/* ---------------------------- Content Styling ----------------------------- */
p {
    width: auto;
    height: auto;
}

#site-content {
    min-height: 100%;
    padding: 0;
    height: 75vh;
    width: 100%;
    top: 25vh;
    display: block;
    margin-bottom: 35vh;
}

#content-main {
    min-height:100%;
    display: block;
    margin: auto;
    height: inherit;
}

/*#content-sidebar {
    display: block;
    margin: auto;
    height: inherit;
}*/

/* -------------------------------------------------------------------------- */




/* ----------------------------- Footer Styling ----------------------------- */
#site-footer {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
}

#footer-container {
    height: 35vh;
    width: 98.7vw;
    background-color: rgb(52, 46, 63);
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

#links-container {
    height: inherit;
    width: 100px;
}

#footer-container > div {
    height: 212.5px;
    padding-right: 150px;
    margin: 0px;
}

#footer-container > div > h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(219, 219, 219);
    width: 15vw;
}

#footer-container > div > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    width: 100%;
}

#footer-container > div > ul > li > a {
    color: rgb(102, 180, 190);
    text-decoration: none;
}

#footer-report > ul > li {
    padding: 0px 0px;
    width: max-content;
}

#footer-nav > ul > li {
    padding: 5px 0px;
    width: max-content;
}

#footer-report {
    width: 80px;
}

#footer-infocard {
    width: 200px;
}

#footer-infocard > p {
    color: rgb(161, 161, 161);
    width: 300px;
}

#footer-nav {
    width: 80px;
}

#footer-contact > ul > li {
    padding: 3px 0px;
    color: rgb(143, 143, 143);
    flex-wrap: wrap;
}

/* -------------------------------------------------------------------------- */
