/* Global styling for all pages on Joe Burns' website */

body {
    margin: 0;
    padding: 0;
}

#page {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    max-width: 100%;
}

/* Sets background color of corresponding page in navbar */
.active {
    background-color: rgb(170,135,219)
}

/* ----------------------------- Navbar Styling ----------------------------- */
#site-nav {
    position: absolute;
    height: 5vh;
    width: 100%;
}

#nav-container {
    display: flex;
    width: 70%;
    height: inherit;
    margin: auto;
}

#nav-text-container > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 130%;
    font-weight: bolder;
    width: max-content;
    padding: 13px 16px;
    margin: 0;
}

#nav-container > ul {
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: inherit;
}

#nav-container > ul > li {
    float: right;
}

#nav-container > ul > li > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

#nav-container > ul > li a:hover {
    background-color: pink;
}
/* -------------------------------------------------------------------------- */




/* ---------------------------- Content Styling ----------------------------- */
#site-content {
    position: absolute;
    height: 75vh;
    width: 100%;
    background-color: orange;
    top: 25vh;
}
/* -------------------------------------------------------------------------- */




/* ----------------------------- Footer Styling ----------------------------- */
#site-footer {
    position: absolute;
    height: 15vh;
    width: 100%;
    top: 100vh;
    background-color: blue;
}
/* -------------------------------------------------------------------------- */