/* Styling for main body of the page */
body, html, #page {
    margin: 0;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

/* Smooth fade-in load effect for the page */
body {
    /* See "Header Styling" for animation details */
    animation: fade-in ease 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* --------------------------------------- */

/* ----------------------------- Navbar Styling ----------------------------- */

/* Current page's tab in navbar has different background color */
.active {
    background-color: rgb(29, 99, 59)
}

#site-nav {
    position: sticky;
    top: 0px;
    height: 50px;
    /* Remains displayed in front of other elements */
    z-index: 99;
}

#nav-container {
    display: flex;
    width: 100%;
    height: inherit;
    background-color: rgb(46,139,87);
}

#book {
    /* position: fixed; */
    float: left;
    justify-content: left;
    justify-items: left;
    width: 50px;
    height: inherit;
}

#threeline {
    height: 20px;
    width: auto;
    margin-top: 5px;
    float: right;
    padding: 0px;
    display: none;
}

/* Affects text labels of navbar that aren't links */
#nav-text-container > p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 130%;
    font-weight: bolder;
    width: auto;
    height: inherit;
    padding: 5px 5px;
    margin: 0;
    position: absolute;
    left: 55px;
    top: 8px;
}

/* The list of stuff on the right side of navbar */
#nav-container > ul {
    list-style-type: none;
    margin: auto;
    width: 100%;
}

/* Nav links */
#nav-container > ul > li > a {
    font-family: "Montserrat",sans-serif;
    font-size: 95%;
    text-rendering: optimizeLegibility;
    height: 20px;
    line-height: 20px;
    padding: 15px;
    text-decoration: none;
    display: block;
    float: right;
    color: white;
}

/* Nav links change color when cursor hovers over them */
#nav-container > ul > li a:hover {
    background-color: rgb(50, 223, 125);
    color: black;
    transition: 0.8s;
}

/* Make navbar collapse at certain width, show threeline.png */
@media (max-width: 1050px) {
    #nav-container > ul > li a {
        display: none;
    }

    #threeline {
        display: inline-block;
    }
}

/* -------------------------------------------------------------------------- */




/* ----------------------------- Header Styling ----------------------------- */

#site-header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../images/bookwallpaper.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-container > h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    animation-duration: 2s, 2s;
    animation-name: slide-in, fade-in;
    animation-fill-mode: forwards;
}

#header-container > h3 {
    text-align: center;
    color: white;
    opacity: 0.8;
    animation-name: appear, slide-in;
    animation-duration: 2s, 2s;
    animation-fill-mode: forwards, forwards;
}

#green-line {
    animation-duration: 2s;
    animation-name: fade-in;
    height: 20px;
    width: 300px;
}

@keyframes slide-in {
    from {
        margin-bottom: 80px;
    }

    to {
        margin-bottom: 22px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes appear {
    0% {
        visibility: hidden;
        opacity: 0%;
    }

    50% {
        visibility: visible;
        opacity: 0%;
    }

    100% {
        opacity: 80%;
    }
}
/* -------------------------- */

/* -------------------------------------------------------------------------- */




/* ---------------------------- Content Section Styling ----------------------------- */

#site-content {
    min-height: 100%;
    padding: 20px;
    height: fit-content;
    display: block;
    flex: 1;
}

#content-main {
    min-height: 100%;
    display: block;
    margin: auto;
    height: inherit;
}

#content-main > p {
    width: auto;
    height: auto;
}

/* -------------------------------------------------------------------------- */




/* ----------------------------- Footer Styling ----------------------------- */

#site-footer {
    display: flex;
    flex: 1;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.849);
}

#footer-main {
    width: 100%;
    display: grid;
    padding: 40px;
    justify-content: space-around;
    grid-template-areas:
        "a b c d";
}

#footer-main > div {
    height: fit-content;
}

#footer-main > div > p {
    color: rgb(161, 161, 161);
}

#footer-main > div > h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(219, 219, 219);
    width: 300px;
}

#footer-main > div > ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 70%;
}

#footer-main > div > ul > li > a {
    color: rgb(102, 180, 190);
    text-decoration: none;
}

#footer-main > div > ul > li > a:hover {
    color: rgba(179, 179, 179, 0.377);
    transition: 0.5s;
}

#footer-main > div > ul > li > a:visited {
    color: rgb(125, 22, 173);
    transition: 0.5s;
}

/* - Infocard 1 Styling - */
#footer-infocard1 {
    width: 300px;
}

/* - Infocard 2 Styling - */
#footer-infocard2 {
    width: 300px;
}

/* - Footer Nav Styling - */
#footer-nav {
    width: fit-content;
}

#footer-nav > ul > li {
    padding: 5px 0px;
}

/* -- Contact Block Styling -- */
#footer-contact {
    text-align: center;
}

#footer-contact > ul {
    list-style-type: none;
}

#footer-contact > ul > li {
    padding-top: 3px;
    color: rgb(143, 143, 143);
}

@media(max-width: 1400px) {
    #footer-main {
        grid-template-areas:
            "a b"
            "c d";
    }
}

@media(max-width: 800px) {
    #footer-main {
        grid-template-areas:
            "a"
            "b"
            "c"
            "d";
    }
}

/* -------------------------------------------------------------------------- */

#top-button {
    background-color: rgb(58, 58, 58);
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0;
    z-index: 99;
    cursor: pointer;
}

#white-caret-up {
    width: 28px;
    height: 28px;
}

#top-button:hover {
    background-color: black;
    transition: 1s;
}