.student-info {
    justify-content: left;
    flex-wrap: wrap;
    display: inline-block;
    position: relative;
    flex-direction: column;
    text-align: left;
    width: 46vw;
    height: 25vh;
}

.student-info > img {
    display: block;
    position: static;
    border-radius: 25px;
    align-items: left;
    justify-content: left;
    width: 100px;
    height: auto;
}

#lany-r {
    width: 60px;
}

#keller-p {
    width: 65px;
}
