#site-content {
    flex-direction: row;
}

.student-info {
    justify-content: left;
    flex-wrap: wrap;
    display: inline-block;
    position: relative;
    flex-direction: column;
    text-align: left;
    width: 49vw;
}

img {
    display: block;
    position: static;
    border-radius: 25px;
    align-items: left;
    justify-content: left;
}

#connor-k {
    height: "auto";
    width: 30%;
}

#connor-m {
    height: "auto";
    width: 30%;
}

#lany-r {
    height: "auto";
    width: 15%;
}

#jordon-l {
    height: "auto";
    width: 10%;
}

footer-spacer {
    clear: both;
    height: 60px;
}
